<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <application
        android:allowBackup="true"
        android:label="SmartLink2SD"
        android:supportsRtl="true" android:theme="@style/Theme.SmartLink2SD">
        <activity android:name=".settings.AdvancedSettingsActivity" />
        <activity android:name=".settings.PermissionCenterActivity" />
        <activity android:name=".ui.AppDetailsActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
